---
# Only the main Sass file needs front matter
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// Custom styles for tags
.post-tag, .wiki-tag {
  display: inline-block;
  background-color: #444;
  color: #fff;
  padding: 2px 8px;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 0.85em;
}

.post-tag {
  background-color: #2a7ae2;
}

.wiki-tag {
  background-color: #5e9b42;
}

// Private-related styles are only used locally
// .private-tag {
//   background-color: #8e44ad;
// }

// .post-tags, .wiki-tags {
//   margin-bottom: 15px;
// }

// .post-item, .wiki-entry {
//   // margin-bottom: 30px;
// }

// hr {
//   margin-bottom: 20px;
// }

.post-date {
  color: #828282;
  font-size: 0.9em;
  display: block;
  margin-bottom: 10px;
}

// Add styling for Published, Last Update, and Tags paragraphs
.wiki-entry p, .post-item p {
  margin-top: 7px;
  margin-bottom: 7px;
}

// Keep the default margin-bottom for the last paragraph (Tags)
.wiki-entry p:last-of-type, .post-item p:last-of-type {
  margin-bottom: 15px;
}

.invisible-table {
  border-collapse: collapse;
  width: 100%;
  border: none;
  background: none;
}

.invisible-table td,
.invisible-table tr {
  border: none !important;
  background: none !important;
  white-space: normal !important;
  // TODO: fix the word-break not working properly, e.g. in `secret-notes/towards_VERUS.md`
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  padding: 4px 12px !important;
}

.otro-blockquote {
  font-size: 1.0rem;
  font-style: italic;
  position: relative;
  padding: 1.0em 1.0em 1.0em 1.5em;
  margin: 1.0em 0;
  border-left: 4px solid #ccc;
  background: #f9f9f9;
  color: #333;
  border-radius: 6px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.05);
}

.otro-blockquote span {
  display: block;
  margin-top: 1em;
  font-style: normal;
  font-weight: 500;
  color: #555;
  text-align: right;
}