---
layout: base
---
<article class="post">

  <header class="post-header">
    <!-- <h1 class="post-title">{{ page.title | escape }}</h1> -->
    <div class="custom-page-title">{{ page.title | escape }}</div>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- if page.author -%}
        {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span>
          </span>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
        {%- if page.date -%} • {% endif %}
      {%- endif -%}
      {%- if page.date -%}
      <span>
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: date_format }}
        </time>
      </span>
      {%- endif -%}
      
      {%- if page.last_updated -%}
        {%- assign date_str = page.date | date: "%Y-%m-%d" -%}
        {%- assign updated_str = page.last_updated | date: "%Y-%m-%d" -%}
        {%- if date_str != updated_str -%}
          • 
          <span>
            Last Update:
            <time datetime="{{ page.last_updated | date_to_xmlschema }}">
              {{ page.last_updated | date: date_format }}
            </time>
          </span>
        {%- endif -%}
      {%- endif -%}
    </p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
