---
layout: page
---

{% comment %}
This layout determines the correct permalink prefix based on the boolean values
show_on_wiki and show_on_secret_wiki and then redirects to the right URL.
Only applies to pages in the wiki collection.
{% endcomment %}

{% if page.collection == 'wiki' %}
  {% if page.show_on_wiki == false and page.show_on_secret_wiki == true %}
    {% assign permalink_prefix = "/secret-wiki" %}
  {% else %}
    {% assign permalink_prefix = "/wiki" %}
  {% endif %}

  {% assign page_slug = page.url | split: '/' | last %}
  {% assign target_url = permalink_prefix | append: '/' | append: page_slug %}

  {% if page.url != target_url %}
  <script>
    window.location.href = "{{ target_url }}";
  </script>
  {% endif %}
{% endif %}

{{ content }} 